@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!--Phần thân của webside-->
<div class="container-banner" style="width: 100%;height: auto; margin-top: 72px;">
    @foreach (var slider in Model)
    {
        <div class="banner-quang-cao-phim">
            <div class="banner-quang-cao-phim">
                <div class="banner-thong-tin">
                    <div class="poster">
                        <img src="@Url.Content(slider.PosterURL)" alt="@slider.Movies.Title">
                        <img src="~/Images/banner_overlay.png" alt="Overlay">
                    </div>
                    <div class="ten-phim"><span>@slider.Movies.Title</span></div>
                    <div class="information">
                        <ul>
                            <li><span>Năm phát hành: @slider.Movies.ReleaseDate.Year</span></li>
                            <li><span>Duration: @slider.Movies.Duration minutes</span></li>
                            <li><span>Rating: @(slider.Movies.Rating ?? "No rating")</span></li>
                        </ul>
                    </div>
                    <div class="xem-ngay">
                        <img src="~/Images/play-button-arrowhead.png" alt="Play Button">
                        <a href="@Url.Action("ChiTietPhim", "Phim", new { id = slider.MovieID })"><span>Xem ngay</span></a>
                    </div>
                    <div class="heart"><img src="~/Images/heart.png" alt="Heart"></div>
                </div>
            </div>
        </div>
    }
    </div>
<!-- Slider phim -->
@Html.Action("PartialMoiPhatHanh", "Phim")
<!-- Hành động -->
@Html.Action("PartialHanhDong", "Phim")
<!-- Phim khoa học viễn tưởng -->
@Html.Action("PartialKhoaHocVienTuong", "Phim")
<!-- Top Series -->
@Html.Action("PartialTopSeries", "Phim")
<!-- Phim Hoạt Hình -->
@Html.Action("PartialHoatHinh", "Phim")
<!-- Anime -->
@Html.Action("PartialAnime", "Phim")

<style>
    .information ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        line-height: 1.6;
    }

        .information ul li {
            display: flex;
            align-items: center;
            gap: 5px;
        }
</style>
